:root {
  --white: #ffffff;
  --gray: #333333;
  --gray2: #cccccc;
  --blue: #325B9A;
  --red: #ff3e00;
}
body {
  margin: 0; 
  color: var(--gray);
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--gray);
}
h1, h2, h3 {
  border-bottom: 1px solid var(--gray2);
  border-top: 1px solid var(--gray2);
  padding: 10px 0;
  text-align: center;
  background: var(--gray2);
  font-weight: normal;
}
h1 {
  background: var(--blue);
  color: var(--white);
}
input, select {
  height: 34px;
  width: 200px;
}
input[type="checkbox"],input[type="radio"] {
  width: 30px;
}
select {
  margin: 0 10px 0 0;
}
button {
  width: 200px;
  height: 40px;
  display: block;
  margin: 0;
  border: none;
  background-color: var(--blue);
  color: var(--white);
}
#root, #app {
  padding: 1rem;
}

.app-container {
  width: 200px;
  height: 100px;
  overflow: hidden;
}

.popup {
  position: relative;
  z-index: 2;
  background: var(--gray2);
  padding: 1rem;
  min-height: 200px;
  min-width: 200px;
}

.popup::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--gray2) transparent;
}

.photos {
  display: flex;
  flex-wrap: wrap;
}
.photos figure {
  width: calc(100% / 10 - 20px);
  margin: 10px;
}

/**
* https://www.solidjs.com/tutorial/bindings_classlist
**/
.classlist {
  display: flex;
  flex-wrap: wrap;
}
.selected {
  background-color: var(--red);
  color: var(--white);
}

/**
* c-nest
**/
.c-nest-component {
  margin: 0 0 10px;
}
.c-form-component {
  display: flex;
  flex-wrap: wrap;
}

/**
* search
**/
.c-search {
  display: flex;
  flex-wrap: wrap;
}

/**
* checkbox
**/
.c-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.c-checkbox input {
  margin: 0 10px;
}

/**
* count
**/
.c-count {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.c-count button {
  margin: 0 0 0 10px;
  width: 50px;
}