body {
  margin: 0; 
  color: #333;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #333;
}
h3 {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  text-align: center;
  background: #ccc;
  font-weight: normal;
}
#root {
  padding: 1rem;
}

.app-container {
  width: 200px;
  height: 100px;
  overflow: hidden;
}

.popup {
  position: relative;
  z-index: 2;
  background: #ddd;
  padding: 1rem;
  min-height: 200px;
  min-width: 200px;
}

.popup::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ddd transparent;
}

.photos {
  display: flex;
  flex-wrap: wrap;
}
.photos figure {
  width: calc(100% / 10 - 20px);
  margin: 10px;
}

/**
* https://www.solidjs.com/tutorial/bindings_classlist
**/
.classlist {
  display: flex;
  flex-wrap: wrap;
}
button {
  display: block;
  margin: 0 10px 0 0;
}

.selected {
  background-color: #ff3e00;
  color: white;
}